# Git
.git
.gitignore

# Build artifacts not needed
**/target/
!quarkus/dist/target/keycloak-999.0.0-SNAPSHOT.tar.gz

# IDE
.idea/
.vscode/
*.iml

# Documentation
*.md
docs/

# Tests
**/test/
**/tests/
